.all {
    position: relative;
    z-index: 1; /* Ensures content is in front of the background */
  }
  
  .all::before {
    content: '';
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),url('./gaming.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.6; /* Apply opacity only to the background */
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Push background behind the content */
    pointer-events: none; /* Prevents interaction with the background */
  }


  